@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap');

body{
    font-family: 'Roboto';
    font-size: 20px;
}
.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    background-color: #dadada;
    
}
.logo img{
    width: 120px;
}
.menu{
    display: flex;
    gap: 30px;
}
.redes-sociais{
    display: flex;
    gap: 40px;
}
.icons-redes-sociais{
    width: 35px;
}

.container-home{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}
.conteudo-home{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 50px;
}
.infos-home{
    /* background-color: azure; */
    width: 60%;
    display: flex;
    flex-direction: column;
    height: auto;
    gap: 30px;
    padding: 10px;
}
.titulo{
    font-size: 70px;
}
.foto{
    background-repeat: no-repeat;
    width: auto
}
.foto img{
    width: 80%;
    height: 70%;
}
.container-sobre{
    background-color: #ddb38c;
}
.sobre{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    gap: 70px;
}
.img-sobre{
    gap: 20px;
    display: flex;
    flex-direction: column;
    width: auto;
}

.img-sobre img{
    width: 70%;
    height: 70%;
}
.sobre p{
    width: 500px;
    
}
/*container cardapio*/
.container-cardapio{
    background-image: url(./src/fundocardápio.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.foto-esquerda{
    background-color: #212E36;
    height: 50%;
}
.foto-meio{
    background-color: #f38b2a;
    height: 50%;
}
.foto-direita{
background-color: #212E36;
height: 50%;
}
/* Estilizanção do container contato */
.container-contato{
    height: 80vh;
    background-color: #000;
    background-image: url(./src/backgroundCafe.jpg);
    background-position: center;
    background-size: cover;
    color: #f38b2a;
}
.contato-cor{
    background-color: #212E36;
}
.contato{
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
}
.form-contato{
    width: 300px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
}
.inputs{
    width: 300px;
    height: 40px;
    border-bottom: 2px;
    border-color: #f38b2a;
    border-style: inset;

}
